{% extends "base.html" %}
{% block main %}
	<div class="bg-contact100" style="background-image: url('/static/images/bg-01.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<form class="contact100-form validate-form" method="POST" action="/">
					<span class="contact100-form-title">
						Neutralisateur de texte
					</span>
					<div class="wrap-input100 " >
						<textarea class="input100" name="txt_genre" placeholder="Genré">{{ a_traduire }}</textarea>
						<span class="focus-input100">txt</span>
						<div class="container-contact100-form-btn">
						<button class="contact100-form-btn fa fa-microphone"/>
						<button class="contact100-form-btn">
							Neutraliser
						</button>
					</div>
					</div>
				</form>
					<div class="wrap-input100 ">
						<textarea class="input100" id="txt_traduit" readonly name="text_neutre" placeholder="Neutre">{{ traduction }}</textarea>
						<span class="focus-input100"></span>
						<div class="container-contact100-form-btn">
						<button class="contact100-form-btn fa fa-clipboard"/>
						<button class="contact100-form-btn">
							Utiliser "iel"
						</button>
						<a href="#" id="speak" class="contact100-form-btn">Lire</a>
						</div>
					</div>


					<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.min.css">


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>
				
			</div>
		</div>
	</div>
{% endblock %}
