<!DOCTYPE html>
<html lang="en">
<head>
	<title>Neutraliseur de texte</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename= 'images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact100" style="background-image: url('/static/images/bg-01.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<form class="contact100-form validate-form">
					<span class="contact100-form-title">
						Neutralisateur de texte
					</span>
					<div class="wrap-input100 " >
						<textarea class="input100" name="txt_genre" placeholder="Genré"></textarea>
						<span class="focus-input100"></span>
						<div class="container-contact100-form-btn">
						<button class="contact100-form-btn fa fa-microphone"/>
						<button class="contact100-form-btn">
							Neutralisé
						</button>
					</div>
					</div>
				</form>
					<div class="wrap-input100 ">
						<textarea class="input100" name="text_neutre" placeholder="Neutre"></textarea>
						<span class="focus-input100"></span>
						<div class="container-contact100-form-btn">
						<button class="contact100-form-btn fa fa-clipboard"/>
						<button class="contact100-form-btn">
							Utiliser "iel"
						</button>
						</div>
					</div>


					
				
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
